@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


@media (max-width: 992px){
    .container_faq{
        width: 90%;
    }
}
@media (min-width: 993px){
    .container_faq{
        width: 60%;
    }
}

.faq{
    background-color: #5ab7f7;
}

.container_faq{
    margin: 0 auto;
    padding: 2px;
}

.container_faq h2{
    position: relative;
    color: #FFF;
    margin: 20px 0;
    text-align: center;
}

.accordion{
    width: 100%;
    padding: 0 5px;
    border: 2px solid #0032b4;
    cursor: pointer;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    
}

.accordion i {
    color: #0032b4;
    transition: all .5s ease-in;
}
.accordion .fa-minus{
    display: none;
}
.active, .accordion:hover{
    background-color: #6db5ff;
    color: white;
    transition: all .5s ease-in;
    border: 2px solid #dddddd;
}
.active .fa-minus{
    display: block;
}
.active .fa-plus{
    display: none;
}
.accordion h5{
    font-size: 15px;
    margin: 0;
    color: #0032b4;
    padding-left: 5px;
}
.active i, .active h5 , .accordion:hover i , .accordion:hover h5{
    color: white;
}
.panal{
    padding: 0 15px;
    border-left: 1px solid #FFF;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    transition: all .5s ease-in;
    max-height: 0;
    color: #fff;
    font-weight: 500;
}

.botton-faq{
    color: #0032b4;
}